.flex-box{ 
   display: flex;
   margin:25px;
   flex-direction: column;
   flex-wrap: wrap;
   border-color: rgb(46, 38,36);
   border-style: solid;
   border-width: 7px;
   background-color: rgb(46, 38,36, 0.7);
   background-blend-mode: exclusion;
   justify-content: center;
   position: absolute;
 }
 .flex-row {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: center;
 }