.triangle_down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #2f2f2f;
	font-size: 0;
	line-height: 0;
	float: left;
}
.triangle_down1 {
	position: relative;
	top: -5px;
	display: flex;
	width: 15px;
	height: 15px;
	border-right: 0.2em solid purple;
	border-top: 0.2em solid purple;
	transform: rotate(135deg);
	margin-right: 0.5em;
	margin-left: 1.0em;
	user-select: none;
}
 .triangle_up1 {
	 position: relative;
	 top: -5px;
	 display: flex;
	 width: 15px;
	 height: 15px;
	 border-right: 0.2em solid purple;
	 border-top: 0.2em solid purple;
	 transform: rotate(-45deg);
	 margin-right: 0.5em;
	 margin-left: 1.0em;
	 user-select: none;
 }