html {
  height: 100%;
  width: 100%;
}

div {
  min-height: 8px;
}

body {
  background-color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 400px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}